{% extends 'partials/base.html' %}
{% block title %}
    No Way | Update
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h1>Update Item</h1>
                    <hr>

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a href="{% url 'dashboard-product' %}" class="btn btn-secondary">Cancel</a>
                        <input type="submit" class="btn btn-info" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}